* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.page-container {
    margin-left: 0;
}

.page {
    position: relative;
    display: block;
}

.navigation {
    background-color: #f44336;
    position: absolute;
    height: 100%;
    visibility: hidden;
    padding-top: 10px;
    left: 0%;
    width: 0;
    top: 0;
    height: 100vh;
}

.navigation a {
    color: #fff;
    display: block;
    text-decoration: none;
    transition: 0.5s color ease;
    text-transform: capitalize;
    padding: 15px;
}

.navigation a:hover {
    color: #fff;
    font-weight: bold;
}

.navigation a.active {
    color: #fff;
    font-weight: bold;
}

.navigation li~li>a {
    border-top: 1px solid rgb(255, 127, 127);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.isMenuOpened .navigation {
    visibility: visible;
    min-width: 190px;
}

.isMenuOpened .page-container {
    margin-left: 190px;
}